* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}


:root {
	--d: 6500ms;
	--angle: 90deg;
	--c1: rgb(95, 213, 240);
	--c2: rgba(6, 6, 6, 0.1);
    overflow: scroll;
}

h1 {

    color: rgb(95, 213, 240);
    font-size: 4em;
}



.card {

    width: 65rem;
    margin: 50px auto;
    border: 0.5rem solid;
    border-image: 
    conic-gradient(from var(--angle), 
    var(--c2), 
    var(--c1) 0.1turn, 
    var(--c1) 0.15turn, 
    var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;

}

#button {

    color: rgb(95, 213, 240);
}

#button:hover {

    border: 3px solid rgb(95, 213, 240);
}

#random-joke {

    box-shadow: 5px 10px 20px 5px rgb(95, 213, 240) inset;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

